<div class="container">
    <div class="jumbotron center">
        <h1>Destructo-Burger!™</h1>
        <h2>Your colon will love you as much as your Cardiologist!</h2>
        <p>
            Dislaimer: Do not eat our food. It will kill you. Please be advised that our cook only makes several burgers at a time, so order them while they are hot (and on the Current Items menu)!
        </p>
        <p>    
            Previous Burgers can be made again (Fry up another one!), or you may request to add a custom Burger. 
        </p>
        <h2>BURGER MENU:</h2>
        
        <div class="row lefty">
            <div class="col col-md-6">
                <h3>Current Items:</h3>
                <ul>
                    {{#each burgers}}
                        {{#unless this.devoured}}
                            <li>
                                {{this.burgerName}}

                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="true">
                                    <button type="submit">EAT IT!</button>
                                </form>
                            
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col col-md-6">
                <h3>Currently Unavilable:</h3>
                <ul>
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <li>
                            {{this.burgerName}}

                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="false">
                                <button type="submit">Fry up another one!</button>
                            </form>

                            </li>
                        {{/if}} 
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row center">
            <h2>Add a Burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="name">
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>
